<div class="submission-wrapper">
    <h2 class="head">Authenticate to continue</h2>
    <form action="/login" class="form-sub"  method="POST">
        <label>Password<span>*</span></label>
        <input type="password" name="password" placeholder="Enter password" autocomplete="off"  data-password>
        <div class="ext-elements"></div>
        <div class="errors"><div class="error">{{error}}</div></div>
        <button type="submit">Validate</button>
    </form>
</div>