
<div class="submission-wrapper">
    <h2 class="head">Add the Kick</h2>
    <form action="/kickdata" class="form-sub" id="form-sub" method="POST">
        <label>Category<span>*</span></label>
        <select class="form-select flex-grow-0 w-auto" onchange="getFormElements()" data-category>
            <option class="default" selected>Select Category</option>
            <option value="Resource">Resource</option>
            <option value="Image">Image</option>
            <option value="GIF">GIF</option>
            <option value="News">News</option>
            <option value="Tweet">Tweet</option>
            <option value="Reads">Reads</option>
            <option value="Meme">Meme</option>
            <option value="Article">Article</option>
            <option value="Reddit">Reddit</option>
            <option value="Unsplash">Unsplash</option>
            <option value="Instagram">Instagram</option>
        </select>
        <label>Topic<span>*</span></label>
        <input type="text" name="topic" placeholder="Enter Kick Topic" autocomplete="off"  data-topic>
        <label>Body<span>*</span></label>
        <textarea type="text" name="text" placeholder="Enter body text" rows="5" autocomplete="off"  data-text></textarea>
        <div class="ext-elements"></div>
        <div class="errors"></div>
        <button type="submit">Kick</button>
    </form>
</div>