.btn {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  /* height: ${specs.height}rem; */
  line-height: 0px;
  /* width: ${specs.width}rem; */
  padding: 0.2rem 1.5rem;
  background-color: var(--color-brand);
  color: var(--text-main);
  gap: 5px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--color-hover);
}
.btn:focus {
  border: none;
}
