.Card{
    min-height: 14rem;
    background-color: var(--bg-secondary);
    display: flex;
    border-radius: 15px;
    margin-top: 1.5rem;
}
.information{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    padding: 1.125rem;
}
.pic img{
    /* border-radius: 8px; */
    width: 3.75rem;
    height: 3.75rem;
}
.profile{
    /* why height ?*/
    height: 3.75rem;
    display: flex;
    font-size: 1.25rem;
    font-weight:500;
}
.profile span{
    font-size: 0.75rem;
    font-weight: normal;
    color: var(--text-secondary);
}
.title{
    margin: 0.625rem 0 0 1.3125rem;
}
.description{
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
    width: 21.5625rem;
    font-size: 0.9375rem;
}
.likeNshare{
    margin-top: auto;
    display: flex;
    margin-left:0.3125rem;
}
.like{
    margin-right: 2.625rem;
    /* padding: 5px 8px;
    border-radius: 20px; */
}
.like span{
    padding-top: 0.25rem;
}
.like:hover{
    cursor: pointer;
}
.likeNshare img{
    height: 0.9375rem;
}
.likeNshare span{
    margin-left:0.5rem;
    color: var(--text-secondary);
}
.stats{
    display: flex;
    flex-direction: column;
    padding: 1.125rem 1.25rem;
}
.topStats{
    display: flex;
    justify-content:space-between;
    width: 14rem;
    margin-right: 4rem;
}
.statTitle{
    font-size: 0.75rem;
    color: var(--text-secondary);
}
.statTitle span{
    font-weight: 500;
    font-size: 0.9375rem;
    color: #fff;
    margin-top: 0.625rem;
}
.revenue{
    /* margin: 0 5.5rem 0 6rem ; */
}
.price{
    margin-top: 1.875rem;
}
.price span{
    font-size: 1.5rem;
}
.price img{
    margin-left: 0.25rem;
    width: 0.9rem;
}
.percentGreen{
    font-size: 1rem !important;
    color: var(--green-text) !important;
}
.percentRed{
    font-size: 1rem !important;
    color: var(--red-text) !important;
}
.percentRed::selection{
    color: red;
}
.invest{
    display: flex;
    align-items: center;
    margin-top: auto;
}
.moreInfo{
    color: var(--blue-text);
    font-size: 0.9375rem;
    margin-left: 3.25rem;
    cursor: pointer;
}
.moreInfo:hover{
    text-decoration: underline;
}
@media (max-width: 738px) {
    .Card{
        flex-direction: column;
    }
    .information{
        border: none;
    }
    .description{
        width:auto;
        max-width: 28rem;
    }
    .priceWrap{
        margin-bottom: 10px;
    }
}