.Card{
    background-color: var(--bg-secondary);
    display: flex;
    border-radius: 15px;
    margin: 1.25rem 0;
}
.information{
    border-right: 1px solid var(--border);
}
.pic{
    margin-top: 1.1875rem;
}
.pic img{
    width: 3.75rem;
    height: 3.75rem;
}
.profile{
    display: flex;
    font-size: 1.25rem;
    font-weight:500;
}
.profile span{
    font-size: 0.75rem;
    color: var(--text-secondary);
}
.title{
    margin: 1.25rem 0 0 1.3125rem;
}