.container{
    display: flex;
}
.cards{
    padding: 20px;
    border-right: 1px solid var(--border);
    height: calc(100vh - 4.0625rem);
    overflow-y: scroll;
}
.title{
    font-size: 1.0625rem;
    font-weight: bold;
    margin-left: 15px;
}
.cards::-webkit-scrollbar {
    width: 0;
}