.container {
  display: flex;
  height: calc(100vh - 4.0625rem);
  overflow-y: scroll;
}
.cards {
  padding: 20px;
  border-right: 1px solid var(--border);
}
.title {
  font-size: 1.0625rem;
  font-weight: bold;
  margin-left: 15px;
}
.cards::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 738px) {
  .container {
    height: calc(100vh - 47.5px);
  }
}
