.background img
{
    width: 62.5rem;
    margin: 2rem;
}

.profilepic
{
    border-radius: 50%;
    border:1rem solid black;
    width: 8.125rem;
    height: 8.125rem;
    background-size: cover;
    background-image: url('/pngs/profile.png');
    position: relative;
    left: 7.88rem;
    top: -8.2rem;
}